@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

path{
  fill: currentColor !important
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* tabla-pages */
.tabla{
  margin: 10px;
  overflow-y: scroll;
  text-align: center;
  cursor: pointer;
}

.tabla td,
.tabla th{
  padding: 4px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.tabla th{
  background-color:rgb(15, 15, 49);
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center; 
}

.tabla tr:hover{
  background-color: rgba(92, 116, 253, 0.904);
  /* cursor: default; */
}
/* Fin-tabla-pages */

/* ContaierBox PDF  */
.fancybox-container {
  transition-duration: 366ms;
  height: 100%;
  left: 0;
  outline: none;
  position: fixed;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  top: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  width: 100%;
  z-index: 99992;
}

.fancybox-bg {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition-duration: inherit;
  transition-property: opacity;
  opacity: 0;
  transition-timing-function: cubic-bezier(.47,0,.74,.71);
  background: rgb(30 30 30);
}

.fancybox-is-open .fancybox-bg {
  opacity: .9;
  transition-timing-function: cubic-bezier(.22,.61,.36,1);
}

.fancybox-toolbar {
  right: 0;
  top: 0;
  position: absolute;
  transition: opacity .25s ease,visibility 0s ease .25s;
}

.fancybox-iframe{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  background: rgb(0 0 0 / 0%);
  border: 0;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.margin-box{
  margin-left: 1214px;
}
/* FIN - ContaierBox PDF  */

/* podio  */
.banner-premiar{
  width: 73%
}

.captu-camara{
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  text-align: center;
  z-index: 100;
}

.slate{
  background-color: #e2e8f0
}

.yellow{
  background-color: #fef08a;
}

 .orange{
  background-color: #fed7aa
}
 
.captu-camara :hover{
  background-color: rgba(239, 239, 239, 0.874);
  border-radius: 10px;
}

#btn-cerrar-modal{
  background-color: #bb2d3b !important;
}
/* fin podio  */

@media (max-width:720px){
  .responsi-card{
    flex-direction: column;
    align-items: center;
    margin-top: -84px;
  }
}

@media (max-width:640px){
  .responsi-container{
    width: 900px;
  }
  .responsi-container2{
    width: 500px;
  }
  .responsi-container_table{
    width: 480px;
  }
  .responsi-btns{
    width: 500px;
  }
  .table-cel{
    width: 95%;
  }
  .icon-back-rpns{
    margin-left: 8px;
  }
}